{% extends "itreporting/base.html" %}

{% block content %} 

<h1> About Sheffield Electronics </h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>What we stand for</h2>
	<p> 
	Lorem ipsum dolor sit amet, sed eu audire liberavisse, qui mundi vituperata ex. Eam tale lorem mnesarchum cu. Ius eros omittantur et. Ea sea impetus adipisci, exerci consequat sadipscing vel te, euripidis splendide persequeris duo ei.
	</p> 
    </div>
    <div class="col-sm">
      <h2> Details about us </h2>
	<p>
	Lorem ipsum dolor sit amet, sed eu audire liberavisse, qui mundi vituperata ex. Eam tale lorem mnesarchum cu. Ius eros omittantur et. Ea sea impetus adipisci, exerci consequat sadipscing vel te, euripidis splendide persequeris duo ei.
	</p>
    </div>
  </div>
</div>

{% endblock content %}
