
{% extends "itreporting/base.html" %}
{% block content %} 

<h1>  Sheffield Electronics - Home </h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Who We Are</h2>
	<p> 
	Lorem ipsum dolor sit amet, sed eu audire liberavisse, qui mundi vituperata ex. Eam tale lorem mnesarchum cu. Ius eros omittantur et. Ea sea impetus adipisci, exerci consequat sadipscing vel te, euripidis splendide persequeris duo ei.
	</p> 
    </div>
    <div class="col-sm">
      <h2> What We Do </h2>
	<p>
	Lorem ipsum dolor sit amet, sed eu audire liberavisse, qui mundi vituperata ex. Eam tale lorem mnesarchum cu. Ius eros omittantur et. Ea sea impetus adipisci, exerci consequat sadipscing vel te, euripidis splendide persequeris duo ei.
	</p>
    </div>
    <div class="col-sm">
<p> <img src="https://images.unsplash.com/photo-1498049794561-7780e7231661?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="img-thumbnail" > </p>
      
    </div>
  </div>
</div>

{% endblock content %}

